{% extends 'base.html.twig' %}

{% block title %}Réponses{% endblock %}

{% block body %}
    <h1>Réponses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ answer.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('answers_index') }}">retour à la liste</a>

    <a href="{{ path('answers_edit', {'id': answer.id}) }}">édition</a>

    {{ include('answers/_delete_form.html.twig') }}
{% endblock %}
