{% extends 'base.html.twig' %}

{% block title %}Questions index{% endblock %}

{% block body %}
    <h1>Questions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Is_multiple</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.libelle }}</td>
                <td>{{ question.isMultiple ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('answers_index', {'id': question.id}) }}">Réponse</a>
                    <a href="{{ path('questions_show', {'id': question.id}) }}">Voir</a>
                    <a href="{{ path('questions_edit', {'id': question.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('questions_new') }}">Nouvelle question ?</a>
{% endblock %}
