{% extends 'base.html.twig' %}

{% block title %}Questions
{% endblock %}

{% block body %}
<div class="container-fluid">
	<h1>{{ question.libelle }}</h1>
	{% for answer in  question.answers %}

		{{ answer.libelle }}

		{{ answer.results|length }}

		 {{render_chart(chart)}}

		<br>

	{% endfor %}


	<p>
		<a href="{{path('questions_index')}}">retour</a>
	</p>
</div>
{% endblock %}
